<div class="header">
    <div class="p-card" styleClass="p-card-shadow">
        <h1>Create Notes</h1>
        <p-toolbar class="toolbar">
            <div class="p-toolbar-group-left">
                <p-button label="Add a Post" icon="pi pi-plus" (onClick)="tonewtodo()"></p-button>
                <p-button icon="pi pi-calendar" label="List of all posts" styleClass="p-button-success " (onClick)="toseetodo()"></p-button>
            </div>
            <!-- <div class="p-toolbar-group-right">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-success mr-5" (onClick)="logout()" ></p-button>
            </div> -->
        </p-toolbar>
    </div>
</div>
